<div class="row"> <!-- aaaa -->
  	<div class="col-xs-3">
  	  <h2>User info</h2>
      <% if current_user %>
      <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  	  <table class="table">
  	  	<tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= current_user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= current_user.introduction  %></th>
          </tr>
        </tbody>
      </table>
      <% end %>

  	  <div class="row">
        <% if current_user %>
  	  	<%= link_to edit_user_path(current_user) do %>
        <span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></span>
        <% end %>
        <% end %>
  	  </div>
  	  <h2>New book</h2>
        <% if book.errors.any? %>
          <div id="error_explanation">
            <h2>
               <%= pluralize(book.errors.count, 'error') %> prohibited this book from being saved:
            </h2>
          <ul>
            <% book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
  	    <%= form_for(book) do |f| %>
        <div class="field row">
          <%= f.label :title, "Title"%>
          <br>
          <%= f.text_field :title, class: "col-xs-12" %>
        </div>

        <div class="field row">
          <%= f.label :body, "Opinion" %>
          <br>
          <%= f.text_area :body, class: "col-xs-12" %>
        </div>

        <div class="actions row">
  	      <%= f.submit(class: 'btn btn-primary col-xs-12') %>
        </div>
        <% end %>
  	</div>